<template>
  <div>
    <Trailer v-if="isShowing == true" />    
    <Jumbotron />
    <Popular />
  </div>
</template>

<script lang="ts">
import {mapGetters} from "vuex"

import Jumbotron from './Jumbotron.vue'
import Popular from './Popular.vue'
import Trailer from '../Trailer.vue'

export default{
  computed: {
    ...mapGetters({
      isShowing: 'trailer/isShowing'
    }),
  },
  components: {
    Jumbotron,
    Popular,
    Trailer
  },
  data(){
    return {
      
    }
  },
  methods: {
    
  }
}
</script>


<style lang="scss" scoped>

</style>