<template>
    <div class="backdrop">
        <div class="card">
            <div class="trailer">
                <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/0NTXawVhIww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <img width="100%" height="315" :src="trailer.data.img" alt="trailer.data.name">
            </div>
            <div class="info">
                <span class="name">{{trailer.data.name}}</span>
                <p class="desc">{{trailer.data.desc}}</p>
                <button class="play">Watch Feature Coming Soon</button>
                <button @click="close(trailer.ID)" class="close">Close</button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex"

export default {
  computed: {
    ...mapGetters({
      trailer: 'trailer/trailerData'
    }),
  },    
  methods: {
    ...mapMutations({
        'closeTrailer': 'trailer/closeTrailerModal'
    }),
    close(id){
        this.closeTrailer(id)
    }
  }
}
</script>

<style lang="scss" scoped>
.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .card {
        // width: 70%;
        width: 560px;
        height: 580px;
        pointer-events: auto;
        background: #000;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        margin: 2rem 0;
        animation: drop 1s ease forwards;

        .info {
            margin: 0 auto;
            padding: 0 12px;
            width: 100%;
            color: $text-color;

            .name {
                font-weight: 800;
                font-size: 40px;
            }

            .desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;  
                margin-bottom: 8px;      
            }

            button.play {
                background: $button-color;
                transition: all .3s ease;
                color: $text-color;
                border-radius: 4px;
                padding: 8px 16px;
                font-weight: medium;
                border: none;
                width: 100%;
            }

            button.close {
                background: $secondary-button-color;
                margin-top: 2rem;
                transition: all .3s ease;
                color: $text-color;
                border-radius: 4px;
                padding: 8px 16px;
                cursor: pointer;
                font-weight: 400;
                border: none;
                width: 100%;

                &:hover {
                background: $secondary-color;
                }

            }
        }
    }
}

@media (max-width: 978px){
    .backdrop .card {
        width: 90%;
        margin: 0.5rem 0;
    }

    // .backdrop .card .info button.close {
    //     margin-top: 0.3%;
    // }
}
</style>